.user-link {
  display: inline-block;
}

.user-thumb-avatar {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  float: left;
}

.user-thumb-avatar img {
  width: 100%;
  height: 100%;
}

.user-thumb-text {
  float: left;
  padding: 6px;
}
