<h1 class="user-title">Edit Your Profile</h1>

<% if (errors) { %>
  <ul class="errors user-errors">
    <% errors.forEach(function (error) { %>
      <li><%= error %></li>
    <% }) %>
  </ul>
<% } %>


<form class="edit-profile user-form" method="post">

  <label class="input-label">
    <strong class="input-name">Alias</strong>
    <input type="text" name="user[alias]" value="<%= user.get('alias') %>">
  </label>

  <label class="input-label">
    <strong class="input-name">Avatar</strong>
    <input type="file" name="user[avatar]" value="" id="input-avatar-upload">
  </label>

  <section class="group">
    <figure class="file-preview big-preview">
      <img src="<%= user.get('avatar_url') %>" class="preview-avatar-upload" />
    </figure>
    <figure class="file-preview user-thumb-avatar">
      <img src="<%= user.get('avatar_url') %>" class="preview-avatar-upload" />
    </figure>
  </section>

  <input type="submit" class="blue-button" name="Submit">

</form>

<button class="close-modal">&times;</button>
