<h1>Create A Vapour Account</h1>

<ul class="errors">
  <% if (errors) { %>
    <% errors.forEach(function (error) { %>
      <li><%= error %></li>
    <% }) %>
  <% } %>
</ul>


<form class="sign-up-form" method="post">

  <label>
    Username
    <input type="text" name="user[username]" value="<%= user.get('username') %>">
  </label>

  <label>
    Password
    <input type="password" name="user[password]" value="">
  </label>

  <label>
    Email
    <input type="text" name="user[email]" value="<%= user.get('email') %>">
  </label>

  <input type="submit" name="Submit">

</form>
