<a href="#users/<%= user.id %>" class="user-link group">
  <figure class="user-thumb-avatar">
    <img src="<%= user.get('avatar_url') %>" alt="" />
  </figure>
  <figcaption class="user-thumb-text">
    <% if (displayName) { %>
      <%= user.escape('alias') %>
    <% } %>
  </figcaption>
</a>
