<ul class="game-store-header-items group">
  <li>
    <a href="#">Featured</a>
  </li>
  <li>
    <a href="#games/search" class="tag-pulldown to-browse">Browse</a>
    <ul class="hidden tag-pulldown-items">
      <li>Roleplaying</li>
    </ul>
  </li>
  <li>
    <a href="#games/new" class="new-game">Submit Your Game!</a>
  </li>
</ul>

<input type="search" name="game_search" class="search-bar" placeholder="Search">
