<h1 class="cart-title">Cart</h1>

<ul class="errors">
  <% if (errors) { %>
    <% errors.forEach(function (error) { %>
      <li><%= error %></li>
    <% }) %>
  <% } %>
</ul>

<% if (transactions.totalPrice() !== "0.00") { %>
  <ul class="cart-list">
  </ul>

  Total: <strong class="price">$<%= transactions.totalPrice() %></strong>

  <button class="checkout">Checkout</button>
<% } else { %>
  Nothing is in your Cart
<% } %>
