
<h1 class="cart-title">Cart</h1>

<% if (errors) { %>
  <ul class="errors cart-errors">
    <% errors.forEach(function (error) { %>
      <li><%= error %></li>
    <% }) %>
  </ul>
<% } %>

<% if (transactions.totalPrice() !== "0.00") { %>
  <ul class="cart-list">
  </ul>

  <div class="cart-total-box">
    <div class="cart-total">
      Total:
      <strong class="cart-price">$<%= transactions.totalPrice() %></strong>
    </div>
    <div class="cart-total">
      Your Funds:
      <strong class="cart-price">$<%= Vapour.CurrentUser().get('funds') %></strong>
    </div>
    <button class="checkout green-button">Checkout</button>
  </div>

<% } else { %>

  <strong class="notice">Nothing is in your Cart</strong>
<% } %>

<button class="close-modal">&times;</button>
