<div class="cart-game-title">
  <%= transaction.game().escape('title') %>
</div>

<div class="cart-game-price">
  <strong class="cart-price">$<%= transaction.game().get('price') %></strong>
  <button class="cart-delete">Remove</button>
</div>
