// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// RESET

html, header, body, h1, h2, ul, li, a, div, main, section,
article, nav, button, label, input, strong, textarea, figure {
  border: 0;
  margin: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  background: transparent;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  outline: inherit;
}

ul {
  list-style: none;
}


// Clear Fix

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  background: linear-gradient(to right, #11141E 0%, #172030	15%, #172030 85%, #11141E 100%);
}

button, a {
  cursor: pointer;
}

#header {
  background-color: #171A21;
}

img {
  height: 100%;
}



// Buttons

.blue-button {
  padding: 10px 20px;
  text-shadow: -1px -1px #046DB3;
  color: #8FCBF2;
  border: 2px solid #0A132B;
  background: linear-gradient(to top, #046DB3, #0B86D9);
  border-radius: 5px;
}

.blue-button:hover {
  color: white;
  background: linear-gradient(to top, #057CCC, #0C96F2);
}

.green-button {
  padding: 10px 20px;
  text-shadow: -1px -1px #437A16;
  color: #96E366;
  border: 2px solid #0A132B;
  background: linear-gradient(to top, #437A16, #51941B);
  border-radius: 5px;
}

.green-button:hover {
  color: white;
  background: linear-gradient(to top, #51941B, #5FAD1F);
}

// Displays

.errors li, .error {
  display: inline-block;
  color: #ddd;
  background: linear-gradient(to top right, #8C2919, #AB3320);
  padding: 10px 20px;
  margin: 5px 0;
  border: 1px solid #AD4E3E;
}

.notices li, .notice {
  display: inline-block;
  color: #ddd;
  background: linear-gradient(to top right, #19498C, #205AAB);
  padding: 10px 20px;
  margin: 5px 0;
  border: 1px solid #598ACF;
}

.errors li:after, .notices li:after {
  content: "";
  display: block;
}

// Body

#content {
  color: #ddd;
  width: 900px;
  margin: 0 auto;
  padding-bottom: 200px;
}

#content h1 {
  font-size: 26px;
  margin: 20px 0;
}

// Typical Form

.input-label {
  display: block;
  margin-bottom: 10px;
  width: 400px;
}

.input-name {
  display: block;
  margin-bottom: 5px;
}

.input-label input, .input-label textarea {
  display: block;
  background: #2A405B;
  border: 1px solid #000;
  box-shadow: 1px 1px #45556D;
  border-radius: 5px;
  padding: 5px 10px;
  width: 300px;
}



// Modal

#modal {
  position: fixed;
  color: #eee;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #262626;
  border: 2px solid #444;
  box-shadow: 3px 3px 8px black;
  padding: 20px;
  -webkit-transition: 1s;
}

.hidden {
  display: none;
}
