// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Show

.game-head {

}

.game-head > section {
  float: left;
}

.game-screenshots {
  width: 500px;
  margin-right: 50px;
  overflow: hidden;
}

.screenshot-display {
  height: 288px;
  width: 512px;
  background-color: #000;
  box-sizing: border-box;
  border: 2px solid #000;
  margin-bottom: 5px;
}

.game-screenshot-list {
  overflow-x: auto;
  padding-top: 12px;
  width: 0;
  height: 72px;
  position: relative;
  left: 0;
}

.screenshot-thumb {
  float: left;
  width: 95px;
  height: 60px;
  margin-right: 5px;
  box-sizing: border-box;
  border: 2px solid #000;
  background: #000;
  cursor: pointer;
  position: relative;
}

.screenshot-thumb.active {
  border: 2px solid #bbb;
}

.screenshot-thumb.active:after {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  top: -14px;
  z-index: 4;
  transform: translateX(-50%);
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid #bbb;
}

.screenshot-thumb img, .screenshot-display img {
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.screenshot-slider {
  height: 20px;
  overflow: hidden;
}

.screenshot-slider > * {
  float: left;
}

.slide-left, .slide-right {
  padding: 1px 0;
  width: 40px;
  height: 100%;
  text-align: center;
  background: #123;
  border-radius: 5px;
  color: #48a
}

.slider-bar-container {
  position: relative;
  width: 420px;
  background: #080b14;
  height: 100%;
  border-radius: 5px;
}

.slider-bar {
  position: absolute;
  width: 80px;
  height: 100%;
  background: #123;
  cursor: pointer;
  border-radius: 5px;
  left: 0;
}

.slide-left:hover, .slide-right:hover, .slider-bar:hover {
  color: #eee;
  background: linear-gradient(to right, #2E516B, #315977);
}

.game-synopsis {
  width: 300px;
}

.game-main {
  width: 600px;
  box-sizing: border-box;
  float: left;
  padding: 10px;
}

.game-sidebar {
  width: 300px;
  box-sizing: border-box;
  float: left;
  padding: 10px;
}

.friendship-game-show h2 {
  margin-bottom: 25px;
}

.friends-who-own .user-thumb {
  float: left;
  margin-bottom: 25px;
}

.friends-who-own .user-thumb:nth-child(3n+2) {
  margin-right: 25px;
  margin-left: 25px;
}

.friends-who-own .user-thumb-avatar {
  width: 60px;
  height: 60px;
}

.game-sidebar > .block {
  margin-bottom: 20px;
}

.block {
  background-color: #171A21;
  padding: 20px;
}

.game-buy {
  background: linear-gradient(to right, #333, #567);
  position: relative;
  padding: 20px;
  margin-bottom: 50px;
  box-shadow: 1px 1px 5px #171A21;
}

.game-buy-input {
  position: absolute;
  right: 15px;
  bottom: 0;
  transform: translateY(50%);
  background: rgba(0,0,0,0.2);
  padding: 2px;
  border-radius: 5px;
}

.game-buy-input > * {
  float: left;
}

.game-buy-input .price {

}

.price {
  display: block;
  padding: 10px 20px;
  background: #000;
  width: 50px;
  color: #aaa;
  text-align: center;
  border: 2px solid #000;
  border-radius: 5px;
}

.tag {
  float: left;
  font-size: 14px;
  color: #67c1f5;
  background: rgba(102, 195, 245, 0.2);
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.tag-name {
  display: block;
  padding: 2px 7px;
}

h2 {
  font-size: 20px;
}

.blue-h {
  color: #67c1f5;
}
.blue-h:after {
  display: block;
  content: "";
  left: 0;
  right: 0;
  background: linear-gradient(to right, #67c1f5, rgba(103, 193, 245, 0));
  height: 1px;
}

p {
  color: #aaa;
}

.authorship {
  color: #444;
}
