.game-item-link {
  display: block;
  padding: 10px 20px;
  background: #0562A1;
}

.game-item-link:hover {
  background: linear-gradient(to right, #64ADDE,#2384C4);
}

.game-item {
  display: block;
  margin-bottom: 10px;
  box-shadow: 1px 1px 8px #3A607A;
}
