.game-item-link {
  display: block;
  position: relative;
  padding: 10px 20px;
  background: #0562A1;
  height: 100%;
  box-sizing: border-box;
}

.game-item-link:hover {
  background: linear-gradient(to right, #64ADDE,#2384C4);
}

.game-item {
  display: block;
  margin-bottom: 10px;
  box-shadow: 1px 1px 8px #3A607A;
}

.game-item-link-image {
	height: 100%;
	width: 33%;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}

.game-item-link-image img {
	width: 100%;
}

.game-item-link-tags {
	color: #aaa;
	font-size: 12px;
}

.game-item-link-price {
	position: absolute;
	right: 5px;
	bottom: 5px;
	border-radius: 5px;
	background: #000;
	width: 80px;
	text-align: center;
	padding: 5px;
	opacity: 0.6;
}