nav {
  width: 900px;
  margin: 0 auto;
  color: #ddd;
  padding: 20px;
}

.page-title {
  position: relative;
  float: left;
  font-size: 26px;
  letter-spacing: 3px;
  padding-bottom: 0;
}

.page-title:hover {
  -webkit-animation: vapourBlurTo 1s ease both;
}

.page-title:not(:hover) {
  -webkit-animation: vapourBlurFrom 1s 1s ease both;
}


@-webkit-keyframes vapourBlurTo {
  to { -webkit-filter: blur(5px); transform: scale(1.5); opacity: 0;}
}

@-webkit-keyframes vapourBlurFrom {
  from { -webkit-filter: blur(5px); transform: scale(1.5); opacity: 0;}
}

.main-links {
  float: left;
}

.main-links li {
  float: left;
}

.main-link {
  padding: 10px 20px;
  display: block;
}

.user-nav {
  float: right;
}

.user-nav li {
  float: left;
}

.user-nav .user-thumb {
  padding-top: 4px
}

.user-nav button {
  padding: 10px 20px;
  display: block;
}

.user-nav button:hover, a:hover {
  color: #fff;
}
