nav {
  width: 900px;
  margin: 0 auto;
  color: #ddd;
  padding: 20px;
}

.page-title {
  float: left;
  font-size: 26px;
  letter-spacing: 3px;
}

.main-links {
  float: left;
}

.main-links li {
  float: left;
}

.main-link {
  padding: 10px 20px;
  display: block;
}

.user-nav {
  float: right;
}

.user-nav li {
  float: left;
}

.user-nav .user-thumb {
  padding-top: 4px
}

.user-nav button {
  padding: 10px 20px;
  display: block;
}

.user-nav button:hover, a:hover {
  color: #fff;
}
