.user-show-header-two {
  position: relative;
  background:
  radial-gradient(rgba(0,0,0, 0.5) 15%, transparent 16%) 0 0,
  radial-gradient(rgba(0,0,0, 0.5) 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color: transparent;
  background-size:16px 16px;
  padding: 10px;
}

.user-show-header {
  background: linear-gradient(to top, #252a36, #353a46);
  border: 1px solid #000;
  box-shadow: 2px 2px 5px #000;
  margin-bottom: 20px;
}

.big-user-avatar {
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  border: 1px solid #000;
  background-color: #222;
  box-shadow: inset 0px 0px 1px #fff;
}

.big-user-avatar img {
  width: 100%;
  height: 100%;
}

.user-show-title {
  text-shadow: 1px 1px 10px #000;
}

.user-show-username {
  font-size: 16px;
}

.edit-profile-button {
  bottom: 10px;
  right: 10px;
  position: absolute;
}

.user-show-body {
  padding: 10px 50px;
}

.user-show-sidebar {
  width: 300px;
  float: right;
}

.user-show-content {
  width: 450px;
  float: left;
  padding-right: 50px;
}

.bought-games-list .game-item {
  margin: 0;
  margin-bottom: 10px;
}

.user-show-friends {
  margin-top: 20px;
}

.user-show-friends h2 {
  margin-bottom: 10px;
}

.user-show-games h2 {
  margin-bottom: 10px;
}
