.user-link {
  display: inline-block;
  position: relative;
}

.user-link.with-floating-name:hover:before {
  content: attr(data-alias);
  display: block;
  position: absolute;
  background: #222;
  box-shadow: inset 0px 0px 1px #777, 1px 1px #555;
  border: 1px solid #000;
  left: 50%;
  transform: translateX(-50%);
  top: -25%;
}

.user-thumb-avatar {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  float: left;
  background-color: #222;
  box-shadow: inset 0px 0px 1px #777;
}

.user-thumb-avatar img {
  width: 100%;
  height: 100%;
}

.user-thumb-text {
  float: left;
  padding: 6px;
}
