<h1 class="user-title">Log In</h1>

<% if (errors) { %>
  <ul class="errors user-errors">
    <% errors.forEach(function (error) { %>
      <li><%= error %></li>
    <% }) %>
  </ul>
<% } %>


<form class="sign-in-form user-form" method="post">

  <label class="input-label">
    <strong class="input-name">Username</strong>
    <input type="text" name="user[username]" value="<%= user.get('username') %>">
  </label>

  <label class="input-label">
    <strong class="input-name">Password</strong>
    <input type="password" name="user[password]" value="">
  </label>

  <input type="submit" class="blue-button" name="Submit">

</form>

<button class="close-modal">&times;</button>

<button class="blue-button guest-sign-in">Guest Sign In</button>
