<h1>Add a Screenshot</h1>


<ul class="errors">
  <% if (errors) { %>
    <% errors.forEach(function (error) { %>
      <li><%= error %></li>
    <% }) %>
  <% } %>
</ul>

<form class="screenshot-form" method="post">

  <label class="input-label">
    <strong class="input-name">URL</strong>
    <input type="text" name="screenshot[image_url]" value="<%= screenshot.get('image_url') %>">
  </label>

  <input type="submit" name="Submit" class="blue-button">

</form>

<button class="close-modal">&times;</button>
