<h1>Add a Screenshot</h1>

<form class="screenshot-form" method="post">

  <label>
    URL
    <input type="text" name="screenshot[image_url]" value="<%= screenshot.get('image_url') %>">
  </label>

  <input type="submit" name="Submit">

</form>
