<nav class="header-nav-bar">
  <h1 class="page-title"><a href="#">Vapour</a></h1>
  <ul class="main-links">
    <li><a href="#" class="main-link">Store Page</a></li>
  </ul>

  <ul class="user-nav">
    <% if (CurrUser.get('is_current_user')) { %>
      <li>
        <div class="user-thumb" data-id="<%= CurrUser.id %>" data-display-name="true">

        </div>
      </li>
      <li><button class="log-out">Log Out</button></li>
    <% } else { %>
      <li><button class="log-in">Log In</button></li>
      <li><button class="sign-up">Sign Up</button></li>
    <% } %>
  </ul>
</nav>
